.container {
  display: flex;
  justify-content: center;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid coral;
}

.count:hover {
  background-color: rgb(104, 104, 98);
}

.num {
  font-size: 7rem;
  color: aliceblue;
}

.button {
  color: white;
  font-size: 2rem;
  margin: -0.5rem 0.4rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(111, 148, 182) 0%,
    rgb(69, 42, 249) 50%,
    rgba(111, 148, 182) 100%
  );
}